@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #131313;
  --primary: #ffb4aa;
  --on-background: #e5e2e1;
  --primary-container: #4a0404;
}

@layer base {
  body {
    @apply bg-[#131313] text-[#e5e2e1] font-body selection:bg-[#4a0404] selection:text-[#ffb4aa];
  }
}

@layer components {
  .ghost-button-hover {
    @apply transition-all duration-500 border border-zinc-700 hover:bg-[#4a0404] hover:text-[#e5e2e1];
  }
  
  .occult-gradient {
    background: linear-gradient(to top, rgba(14, 14, 14, 1) 0%, rgba(14, 14, 14, 0) 100%);
  }
}