@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-cinzel: var(--font-cinzel);
  --font-manrope: var(--font-manrope);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #000;
  color: #fff;
}

body {
  font-family: var(--font-manrope), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-cinzel), serif;
}
